<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kith & Kin</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <a href="/events/new">+ Add New Event</a>
    <% events.forEach(function(e) { %>
    <div>
      <div><%= e.name %></div>
      <div><%= e.date %></div>
      <div><%= e.location %></div>
      <div><%= e.descr %></div>
    </div>
    <% }) %>
  </body>
</html>
