<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/events/show.css"
    />
    <title>Kith & Kin</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
    <section class="eventDetails">
        <div class="eventName"><%= event.name %><span></br></span><%= event.location %></div>
        <div class="eventDate"><%= event.date.toDateString() %><span></br></span><%= `${event.date.getHours()} : ${event.date.getMinutes()}` %></div>
        <div class="eventDescr"><%= event.descr %></div>
    </section>
    <section class="menu">
        <a href="/events/<%= event.id %>/menu/new/">Add Menu Item</a>
        <div>
          <h4>Appetizers:</h4>
          <% event.menu.forEach(function(m) { %>
            <% if (m.type === "Appetizer") { %>
              <div class="menuItem">
                <div><%= m.name %></div>
                <div><%= m.madeBy.firstName %></div>
              </div>
          <% }}) %>
        </div>
        <div>
          <h4>Salad:</h4>
          <% event.menu.forEach(function(m) { %>
            <% if (m.type === "Salad") { %>
              <div class="menuItem">
                <div><%= m.name %></div>
                <div><%= m.madeBy.firstName %></div>
              </div>
          <% }}) %>
        </div>
        <div>
          <h4>First Course:</h4>
          <% event.menu.forEach(function(m) { %>
            <% if (m.type === "First Course") { %>
              <div class="menuItem">
                <div><%= m.name %></div>
                <div><%= m.madeBy.firstName %></div>
              </div>
          <% }}) %>
        </div>
        <div>
          <h4>Entree:</h4>
          <% event.menu.forEach(function(m) { %>
            <% if (m.type === "Entree") { %>
              <div class="menuItem">
                <div><%= m.name %></div>
                <div><%= m.madeBy.firstName %></div>
              </div>
          <% }}) %>
        </div>
        <div>
          <h4>Side Dish:</h4>
          <% event.menu.forEach(function(m) { %>
            <% if (m.type === "Side Dish") { %>
              <div class="menuItem">
                <div><%= m.name %></div>
                <div><%= m.madeBy.firstName %></div>
              </div>
          <% }}) %>
        </div>
        <div>
          <h4>Dessert:</h4>
          <% event.menu.forEach(function(m) { %>
            <% if (m.type === "Dessert") { %>
              <div class="menuItem">
                <div><%= m.name %></div>
                <div><%= m.madeBy.firstName %></div>
              </div>
          <% }}) %>
        </div>
    </section>
    <div class="other">Other Restrictions</div>
    <aside>
        <h3>Guest List</h3>
        <ul>
            <%- event.guestList.map(p => 
                `<form action="/events/${event.id}/guest/?_method=DELETE" method="post">
                    <input type="hidden" name="kithId" value="${p._id}">
                    <li><button type="submit">X</button> ${p.firstName}</li>
                </form>`
                ).join('') 
            %>
        </ul>
      
        <form action="/events/<%= event.id %>/guest" method="post">
          <select name="kithId">
            <%- persons.map(p =>
                `<option value="${p._id}">${p.firstName}</option>`
            ).join('') %>
          </select>
          <button type="submit">Add Guest</button>
        </form>
      </aside>
    </main>      
  </body>
</html>
